<h1>YOUTUBE ANALYSIS</h1>
<p>In this analysis, we are going to analyse a youtube data from kaggle datasets. Our outcome are : 
<ol>
    <li>Find the information about 5 first category in the year  1990</li>
    <li>Find the information about the 5 first category in the year from 2000 to 2024</li>
    <li>Existing relation between : Likes & Dislike; Likes & Viewa ; Views & Dislikes</li>
    <li>Make a visualisation to explain all of it</li>
    <li>Make Prediction</li>
</ol>
</p>
<p class = "Intro"> <h2>Step of the Analysis</h2></p>
<ol>
    <li>Import the important and necessary module and library for this Case Study</li>
    <li>Import the data into data fram</li>
    <li>Analyse the data
    <ul>
        <li>Check the shape of the Data</li>
        <li>All the columns of the Data</li>
        <li>Describe and Summarize the Data</li>
        <li>All info about the Data</li>
        <li>Data types of each columns</li>
        <li>Select all numerical column and categorical columns</li>
    </ul>
    </li>
    <li>  <h3>Data Cleaning and Processing</h3>
        <p>In this section, we perform the following steps:
        <ul>
        <li>Check for missing value in the Data</li>
        <li>Drop all missing value </li>
        <li>Convert the columns to the corect Data types</li>
        <li>Count the value in each column</li>
        <li>Group the Data into category if necessary
        <ol>
            <li>Music</li>
            <li>Video</li>
        </ol>
        </li>
        <li>Number of unique Data in columns</li>
            <li>Sort the Data if needed</li>
        <li>Convert string columns which represent numeric values (such as 'Video views', 'Likes', and 'Dislikes') into numeric types. These columns sometimes include formatting characters like commas, which we remove.</li>
        <li>Validate that the 'published' column, although given as an integer, represents a year. If required, it can be converted into a datetime object.</li>
        </ul> <br>
        It's important to note that many notebook creators may encounter issues when numeric values are stored as strings with commas. Our approach using the str.replace method followed by pd.to_numeric is robust in handling such errors.
        </p>
    </li>
    <li><h3>Exploratory Data</h3>
    <ul>
        <h4>Visualize the Data</h4>
    <li>Distribution per Views</li>
        <li>Distribution per Likes</li>
        <li>Distribution per Dislikes</li>
    </ul>
    </li>
    <li>
        <h3>ML</h3>
        <ol>
            <li>Select Model</li>
            <li>Train, Test, and Predict from the model</li>
            <li>Find the Z score</li>
            <li>Mean Square Root</li>
            <li>Find the correlation between </li>
        </ol>
    </li>
    
    
</ol>

<h4>Import the important and necessary module and library for this Case Study</h4>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.linear_model import LinearRegression, LogisticRegression
import seaborn as sns
import scipy.stats as ss
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

<h4>Data Loading</h4>

In [7]:
#Load the Data
df = pd.read_csv("./Desktop/MyProjects/top-1000-trending-youtube-videos.csv")

<h4>Start Analyzing the Data</h4>

In [9]:
#Check the 10 first rows of the data
df.head(10)

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,643,904,918","44,861,602",NaN,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,"236,085,971",38,NaN,NaN,2021
5,6,JP Saxe - If the World Was Ending (Official Vi...,"76,834,495","804,353","21,195",Music,2019
6,7,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
7,8,Power Star Pawan Kalyan Special Surprise To Se...,"96,686","1,007",82,Entertainment,2018
8,9,Kulit Kamu Kulit Kering dan Sensitif? Pakai Av...,"9,605,969",6,NaN,NaN,2023
9,10,Totti with a funny penalty,"8,353,318","5,613","1,082",Sports,2007

In [10]:
#Shape of the Data
df.shape
print(f"This data has {df.shape[0]} rows and {df.shape[1]} columns .")

This data has 1000 rows and 7 columns .

In [11]:
df.columns

Index(['rank', 'Video', 'Video views', 'Likes', 'Dislikes', 'Category',
       'published'],
      dtype='object')

In [12]:
df.describe(include = "all")

,rank,Video,Video views,Likes,Dislikes,Category,published
count,1000.000000,1000,1000,973,687,820,1000.000000
unique,NaN,994,1000,843,489,15,NaN
top,NaN,Aydem Enerji - Hayat için enerji,"3,471,237",2,0,Music,NaN
freq,NaN,2,1,15,33,284,NaN
mean,500.500000,NaN,NaN,NaN,NaN,NaN,2015.933000
std,288.819436,NaN,NaN,NaN,NaN,NaN,6.054847
min,1.000000,NaN,NaN,NaN,NaN,NaN,2005.000000
25%,250.750000,NaN,NaN,NaN,NaN,NaN,2010.000000
50%,500.500000,NaN,NaN,NaN,NaN,NaN,2017.000000
75%,750.250000,NaN,NaN,NaN,NaN,NaN,2021.000000
max,1000.000000,NaN,NaN,NaN,NaN,NaN,2025.000000

In [13]:
#All info about the Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        973 non-null    object
 4   Dislikes     687 non-null    object
 5   Category     820 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [14]:
#Data types of each columns
df.dtypes

rank            int64
Video          object
Video views    object
Likes          object
Dislikes       object
Category       object
published       int64
dtype: object

<li>  <h3>Data Cleaning and Processing</h3>
        <p>In this section, we perform the following steps:
        <ul>
        <li>Check for missing value in the Data</li>
        <li>Drop all missing value </li>
        <li>Convert the columns to the corect Data types</li>
        <li>Count the value in each column</li>
        <li>Group the Data into category if necessary
        <ol>
            <li>Music</li>
            <li>Video</li>
        </ol>
        </li>

In [16]:
#Check for missing values
df.isna().sum()

rank             0
Video            0
Video views      0
Likes           27
Dislikes       313
Category       180
published        0
dtype: int64

In [17]:
df.isnull().sum()

rank             0
Video            0
Video views      0
Likes           27
Dislikes       313
Category       180
published        0
dtype: int64

In [18]:
#Let's drop all missing Values
df["Likes"] = df["Likes"].dropna()

In [19]:
df["Likes"] = df["Likes"].fillna(0)

In [20]:
df["Likes"].isna().sum()

0

In [21]:
df.isna().sum()

rank             0
Video            0
Video views      0
Likes            0
Dislikes       313
Category       180
published        0
dtype: int64

In [22]:
df[["Dislikes", "Category"]] = df[["Dislikes", "Category"]].fillna(0)

In [23]:
df.isna().sum()

rank           0
Video          0
Video views    0
Likes          0
Dislikes       0
Category       0
published      0
dtype: int64

In [24]:
#Convert the columns to the corect Data types
df["Video views"] = df["Video views"].str.replace(",", "").astype('Int64')
df["Dislikes"] = df["Dislikes"].str.replace(",", "").astype('Int64')
df["Likes"] = df["Likes"].str.replace(",", "").astype('Int64')

In [25]:
df.dtypes

rank            int64
Video          object
Video views     Int64
Likes           Int64
Dislikes        Int64
Category       object
published       int64
dtype: object

In [27]:
df = df.rename(columns = {"Video views":"Views"})

In [28]:
df = df.rename(columns = {"published":"Years"})

In [29]:
df

,rank,Video,Views,Likes,Dislikes,Category,Years
0,1,"20 Tennis shots if they were not filmed, NOBOD...",3471237,19023,859,0,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,<NA>,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,<NA>,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,236085971,38,<NA>,0,2021
...,...,...,...,...,...,...,...
995,996,CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...,943248,2949,22,Music,2017
996,997,John McEnroe's most famous outburst happened i...,4853621,7254,426,Sports,2010
997,998,Adi Golan's Group - Teaser,56578,<NA>,<NA>,Music,2014
998,999,Keg tapping goes horribly wrong.,751804,3427,313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,554438,184,8,News & Politics,2016

In [30]:
df["Years"] = pd.to_datetime(df["Years"])

In [31]:
df["Years"] = df["Years"].dt.year

In [32]:
df["Years"].dtypes

dtype('int32')

In [33]:
#Count the value in each columns
df["Video"].value_counts()

Video
Aydem Enerji - Hayat için enerji                                    2
Bıraktığın Gibi Burdayım                                            2
Tiryakinim                                                          2
Helping small businesses find a way                                 2
Best Perspectives of @jordikoalitic ☠️..                            2
                                                                   ..
Супер герои сервиса Nissan — Тайро                                  1
Clumsy Dog                                                          1
BuitenHof Tuinmeubelen | Weten dat het goed zit                     1
Proposal In Disney World With A Surprise Ending                     1
LIVE Hurricane Irma - Downtown Orlando - American Safety Council    1
Name: count, Length: 994, dtype: int64

In [34]:
df["Years"].value_counts()

Years
1970    1000
Name: count, dtype: int64

In [35]:
df["Views"].value_counts()

Views
3471237      1
141469074    1
1167599      1
3355479      1
3464450      1
            ..
8191516      1
962437       1
1921703      1
3432791      1
554438       1
Name: count, Length: 1000, dtype: Int64

In [36]:
df["Likes"].value_counts()

Likes
2        15
0        14
7        11
5         9
4         9
         ..
2280      1
2947      1
24140     1
3034      1
184       1
Name: count, Length: 843, dtype: Int64

In [37]:
df["Dislikes"].value_counts()

Dislikes
0       33
1       15
2        9
3        8
152      5
        ..
247      1
760      1
2670     1
1292     1
426      1
Name: count, Length: 489, dtype: Int64

In [38]:
#Groupe the Data into Category
df["Category"].value_counts()

Category
Music                    284
0                        180
People & Blogs           171
Entertainment             97
Comedy                    63
Sports                    44
Autos & Vehicles          36
Film & Animation          29
Pets & Animals            19
Gaming                    17
News & Politics           16
Howto & Style             13
Education                 10
Travel & Events           10
Nonprofits & Activism      6
Science & Technology       5
Name: count, dtype: int64

In [39]:
df_muc = df[df["Category"]=="Music"]

In [40]:
df_muc = df[df["Category"]=="Music"]
df_ent = df[df["Category"]=="Entertainment"]
df_com = df[df["Category"]=="Comedy"]
df_sp = df[df["Category"]=="Sports"]

In [41]:
df_muc.head(5)

,rank,Video,Views,Likes,Dislikes,Category,Years
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,1970
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,<NA>,Music,1970
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,<NA>,Music,1970
5,6,JP Saxe - If the World Was Ending (Official Vi...,76834495,804353,21195,Music,1970
6,7,David Kushner - Daylight (Official Music Video),18558390,680732,<NA>,Music,1970

In [42]:
df_ent.head(5)

,rank,Video,Views,Likes,Dislikes,Category,Years
7,8,Power Star Pawan Kalyan Special Surprise To Se...,96686,1007,82,Entertainment,1970
13,14,Not a mechanical baby,14612153,3339,156,Entertainment,1970
31,32,"Biggest Snake of the World for Sale, 25 000 €",55113253,3957,46705,Entertainment,1970
36,37,basic instinct,6484622,1102,271,Entertainment,1970
50,51,Starcraft 2 Gameplay footage and unit preview,7529927,6075,772,Entertainment,1970

In [43]:
df_com.head(5)

,rank,Video,Views,Likes,Dislikes,Category,Years
15,16,pevecov popek poje na sexy back,37460296,4533,10949,Comedy,1970
23,24,Jim Carrey THE FUNNIEST video,8322488,6216,11521,Comedy,1970
60,61,Wedding first dance w/ surprise Jack Johnson M...,16485606,15813,1360,Comedy,1970
65,66,Big nipples,13591249,1951,1628,Comedy,1970
75,76,Dog scared by fart,5938416,3883,129,Comedy,1970

In [44]:
#Number of unique data in each columns
df_muc.nunique()

rank        284
Video       281
Views       284
Likes       282
Dislikes     91
Category      1
Years         1
dtype: int64

In [45]:
#Let's select all numerical column and categorica; columns
num_data = df.select_dtypes(include = "number")

In [46]:
num_col = df.select_dtypes(include = "number").columns.tolist()

In [47]:
num_col

['rank', 'Views', 'Likes', 'Dislikes', 'Years']

In [48]:
num_col = df.select_dtypes(include = "number").columns.tolist()

In [49]:
music_1990 = df_muc[df_muc["Years"]==1990]

In [50]:
df_muc[["Likes","Dislikes"]].isnull().sum()

Likes         2
Dislikes    186
dtype: int64

In [51]:
df_muc[["Dislikes"]]

     Dislikes
1       78799
2        <NA>
3        <NA>
5       21195
6        <NA>
..        ...
967      1927
969      1023
974      1653
995        22
997      <NA>

[284 rows x 1 columns]

In [52]:
avg_Dislike = df_muc[["Dislikes"]].astype("float").mean(axis = 0)

In [53]:
avg_Dislike

Dislikes    3485.183673
dtype: float64

In [54]:
df_muc[["Dislikes"]] = df_muc[["Dislikes"]].replace(0, avg_Dislike)

TypeError: Invalid value '3485.183673469388' for dtype Int64

In [ ]:
df_muc[["Dislikes"]] = df_muc[["Dislikes"]].astype("float")

In [ ]:
df_muc[["Dislikes"]]

In [ ]:
df_muc[["Likes"]]

<h1>Data Visualisation</h1>

In [ ]:
plt.figure(figsize= (6,4))
sns.histplot(df_muc["Views"], kde= True, bins = 50)
plt.title("Distribution of Video Views")
plt.xlabel("Views")
plt.ylabel("Frequency")
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/viewhist_90.png")
plt.show()


plt.figure(figsize= (6,4))
sns.histplot(df_muc["Dislikes"], kde= True, bins = 50)
plt.title("Distribution of Dislike")
plt.xlabel("Views")
plt.ylabel("Frequency")
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/dislikehist_90.png")
plt.show()

plt.figure(figsize= (6,4))
sns.histplot(df_muc["Likes"], kde= True, bins = 50)
plt.title("Distribution of Likes")
plt.xlabel("Views")
plt.ylabel("Frequency")
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/likehist_90.png")
plt.show()



# Boxplot: Views by Category
plt.figure(figsize=(6,2))
sns.boxplot(x='Category', y='Views', data=df_muc)
plt.xticks(rotation=90)
plt.title("Views by Category")
plt.ylabel("Views")
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/boxcat_90.png")
plt.show()

# Scatterplot: Likes vs Views
plt.figure(figsize=(6,2))
sns.scatterplot(x='Likes', y='Views', hue='Category', data=df_muc)
plt.title("Likes vs Views")
plt.xlabel("Likes")
plt.ylabel("Views")
plt.legend(bbox_to_anchor=(1.05, 1), loc=2)
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/boxdhist_90")
plt.show()

In [ ]:
sns.pairplot(df)

In [ ]:
#Visualize the correlation between like and dislikesplt.figure(figsize=(12,6))
sns.scatterplot(x='Likes', y='Dislikes', hue='Category', data=df_muc)
plt.title("Likes vs Dislikes")
plt.xlabel("Likes")
plt.ylabel("Dislikes")
plt.legend(bbox_to_anchor=(1.05, 1), loc=2)
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/LikeDislikes_boxdhist_90.png")
plt.show()

plt.figure(figsize=(12,6))
sns.scatterplot(x='Likes', y='Views', hue='Category', data=df)
plt.title("Likes vs Video views")
plt.xlabel("Likes")
plt.ylabel("Views")
plt.legend(bbox_to_anchor=(1.05, 1), loc=2)
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/bLikeViewsoxd_90.png")
plt.show()

# Correlation heatmap
plt.figure(figsize=(8,5))
sns.heatmap(df_muc[['Views', 'Likes', 'Dislikes']].corr(), annot=True, cmap='Blues')
plt.title("Correlation Matrix for music 1990")
plt.savefig("./Desktop/DATA ANALYSIS PROJECT/PYTHON/Image/corr_plot_heatmap.png")
plt.show()

<h1>ML</h1>
<h3>Training model</h3>

In [ ]:
X = df_muc[["Likes","Dislikes"]]
y = df_muc["Views"]

In [ ]:
X.isnull().sum()

In [ ]:
#X.drop(df.tail(4).index,
 #       inplace = True)

In [ ]:
X = df_muc[["Likes","Dislikes"]]

In [ ]:
avg_X = X["Likes"].astype("float").mean(axis = 0)

In [ ]:
X.isnull().sum()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =.4, random_state = 45)

In [ ]:
model =LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
y_predict

In [ ]:
model_2 = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
y_predict_2 = model.predict(X_test)

In [ ]:
y_predict_2

In [ ]:
y_predict is y_predict_2

In [ ]:
y_predict

In [ ]:
y_test

In [ ]:
#Find me mse
mse = mean_squared_error(y_test, y_predict)

In [ ]:
f"The mean Square error is : {mse}"

In [ ]:
r2sc = r2_score(y_test, y_predict)

In [ ]:
f"The root square score is : {r2sc}"

In [ ]:
correlation_likes_views = df['Video views'].corr(df['Likes'])
correlation_likes_dislikes = df['Likes'].corr(df['Dislikes'])
correlation_dislikes_views = df['Video views'].corr(df['Dislikes'])

In [ ]:
correlation_likes_views,correlation_likes_dislikes,correlation_dislikes_views

In [ ]:
df["published"].value_counts().sort_values(ascending = False).plot(kind="bar")
plt.title("Value count of the year published over the time")
plt.ylabel("Count")

In [ ]:
df[df['published'] >= 2022]

<h2>
    Author : 
     <h6>WEDSON PETIT HOMME </h6>
    <br>
    <h4> Contact :</h4>
    <li>Email : wedsonpetithomme0@gmail.com</li>
    <li> <a href = "https://www.linkedin.com/"> Linkedin :</a><a href = "https://www.linkedin.com/in/wedson-petithomme-947571239/">wedson-petit-homme-947571239 </a></li>
    <li><a href = "https://github.com/ALYProdz">GitHub :</a><a href = "https://github.com/ALYProdz">Wedson (ALYProdz) </a> </li>
    <li><a href = "https://x.com/"> X(Twitter) :</a> @WedsonPh97</a></li>
</h2>

In [75]:
pwd

'C:\\Users\\Usuario'